<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>NTECH BLOG</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--Main Panel-->
<div id="mainPan">
<!--Top Panel-->
<div id="topPan"><h1>mauris eros, ornare nec, auctor quis, dignissim </h1>
	<a href="index.html"><img src="images/logo.jpg" alt="NTECH BLOG" width="102" height="91" border="0" align="left" class="logo" title="NTECH BLOG" /></a>
	<div id="topservicesPan">
		<h2>all new services</h2>
		<ul>
			<li class="onelink"><a href="#">Quisque et dui.</a></li>
			<li class="onelink"><a href="#">Mauris mauris </a></li>
			<li class="threelink"><a href="#">sornare nec  auctor</a></li>
		</ul>
	</div>
</div>
<!--Top Panel Close-->
<!--Left Panel-->
<div id="leftPan">
	<h2>About: <span>Us?</span></h2>
	<p class="dateone"><span class="blue">l stephens</span><br /><span class="white">Ntech blog</span><br />maneging director</p>
	<p class="buttomshadow">&nbsp;</p>
	<p><span class="bold">NTech Blog is a free, tableless, W3C-compliant web design layout by Template World.</span>. This template has been tested and proven compatible with all major browser environments and operating systems. You are free to modify the design to suit your tastes in any way you like.</p>
	<p>We only ask you to not remove "Design by Template World" and the link http://www.templateworld.com from the footer of the template.</p>
	<p>If you are interested in seeing more of our free web template designs feel free to visit our website, Template World. We intend to add at least 25 new free templates in the coming month.</p>
	<div id="leftlinkboxonePan">
			<ul>
			<li class="comments">Comments: <span class="boldtext">02</span></li>
			<li class="continue"><a href="#">Continue....</a></li>
			</ul>
	</div>
		<p class="topshadow">&nbsp;</p>
		<h3>Community:  <span>how to modify?</span></h3>
		<p class="datetwo"><span class="blue">M piterson</span><br /><span class="white">Ntech blog</span><br />maneging director</p>
		<p class="buttomshadow">&nbsp;</p>
		<p><span class="bold">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis Class aptent taciti lectarcu egestas luctus.</span>   bus</p>
		<p>tellus.faucibus aliquam. In faucibus aliquet velit. Vivamus eget mauris. mnec </p>
		<p>Cras condimentum ullamcorper pede. Sed nec elitfaucibus aliquam vitaodio interdum vulputate. Aenean congue </p>
	<div id="leftlinkboxtwoPan">
			<ul>
			<li class="comments">Comments: <span class="boldtext">02</span></li>
			<li class="continue"><a href="#">Continue....</a></li>
			</ul>
	</div>
	<h4>Special tips:</h4>
	<ul>
		<li><a href="#">Cras condimentum ullamcorper pede.</a></li>
		<li><a href="#">faucibus aliquam vitaodio interdum</a></li>
		<li><a href="#">Aenean congue</a></li>
	</ul>
	<p class="more"><a href="#">more...</a></p>
	<p class="topshadow">&nbsp;</p>
		<h5>coordinating: <span>methods</span></h5>
		<p class="datethree"><span class="blue">l joseph &amp; p thomas</span><br />
		  <span class="white">Ntech blog</span><br />
	    coordinator</p>
		<p class="buttomshadow">&nbsp;</p>
		<p><span class="bold">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span></p>
		<p>tellus.faucibus aliquam. In faucibus aliquet velit. Vivamus eget mauris. mnec </p>
		<p>Cras condimentum ullamcorper pede. Sed nec elitfaucibus aliquam vitaodio interdum vulputate. Aenean congue </p>
		<div id="leftlinkboxthreePan">
			<ul>
			<li class="comments">Comments: <span class="boldtext">12</span></li>
			<li class="continue"><a href="#">Continue....</a></li>
			</ul>
	</div>
	<p class="buttomshadow">&nbsp;</p>
</div>
<!--Left Panel Close-->
<!--Middle Panel-->
<div id="middlePan">
	<h2>Publications<br /><span>on july 2006</span></h2>
	<div id="middleulPan">
	<ul>
	  <li class="one">Lorem ipsum <br />dolor sit amet, consectetuer adipiscing <br /><span>09th june 2006</span></li>
		<li class="two">Lorem ipsum <br />
	    dolor sit amet, consectetuer adipiscing <span><br />09th june 2006</span></li>
		<li class="three">Lorem ipsum <br />dolor sit amet, consectetuer adipiscing <br /><span>09th june 2006</span></li>
		<li class="four">Lorem ipsum <br />
	    dolor sit amet, consectetuer adipiscing<br /><span> 09th june 2006</span></li>
		<li class="five">Lorem ipsum <br />
	    dolor sit amet, consectetuer adipiscing<br /><span> 09th june 2006</span></li>
	</ul>
	</div>
	<div id="middlecaptionPan">
		<h3>for our<br /><span>GOODWILL</span></h3>
		<p>&quot;tellus.faucibus aliquam. In faucibus aliquet velit. Vivamus eget mauris. mnec Cras condimentum ullamcorper pede. Sed nec elitfaucibus aliquam&quot;</p>
		<p align="right"><span>l stephens</span></p>
	</div>
</div>
<!--Middle Panel Close-->
<!--Right Panel-->
<div id="rightPan">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About us</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">Surpport</a></li>
		<li><a href="#">Testimonials</a></li>
		<li><a href="#">Clients</a></li>
		<li class="contact"><a href="#">Contact
</a></li>
	</ul>
		<h2>User Links</h2>
	<ul class="userlink">
		<li class="userlink"><a href="#">Lorem ipsum dolor sit</a></li>
		<li class="userlink"><a href="#">amet, consectetuer</a></li>
		<li class="userlink"><a href="#">adipiscing elit. Donec</a></li>
		<li class="userlink"><a href="#">quis Class aptentlectarcu</a></li>
		<li class="userlink"><a href="#">egestas luctus. Nullam</a></li>
		<li class="userlink"><a href="#">dignissim tellus. Maur</a></li>
		<li class="userlink"><a href="#">orci nec leovelitlitfauci</a></li>
		<li class="userlink"><a href="#">bus</a></li>
	</ul>
	<form name="login" id="login" action="" method="post" class="position">
		<h3>search</h3>
		<input name="" type="text" /><input name="" type="submit" class="button" value="Go" />
	</form>
</div>
<!--Right Panel Close-->
</div>
<div id="footermainPan">
  <div id="footerPan">
  	<ul>
  	<li><a href="#">Home </a>| </li>
  	<li><a href="#">About</a> | </li>
  	<li><a href="#">Archives </a>| </li>
  	<li><a href="#">Support</a> | </li>
  	<li><a href="#">Contact </a> </li>
  </ul>
  <p class="copyright">©ntechblog 2006 all right reaserved</p>
  	<a href="index.html"><img src="images/footerlogo.jpg" title="Total Touch" alt="Total Touch" width="246" height="74" border="0" /></a>
   <div id="footerPanhtml"><a href="http://validator.w3.org/check?uri=referer" target="_blank">html</a></div> 
   
   <div id="footerPancss"><a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">css</a></div>
   <ul class="templateworld">
  	<li>Design By:</li>
	<li><a href="http://www.templateworld.com" target="_blank">Template World</a></li>
  </ul>
   </div>
</div>
</body>
</html>
